@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html {
    font-size: 14px;
}

* {
    font-family: 'Poppins', sans-serif;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
  position: relative;
  min-height: 100%;
}

.layout {
    margin-bottom: 60px;
}

.h-min{
    height:min-content;
}

.w-min {
    width: min-content;
}

.after-d-none ::after{
    display: none;
}

.marker-d-none ::marker {
    font-size: 0;
}

.toast {
    animation: slideInRight 0.5s, slideOutRight 0.5s 4s;
}


@keyframes slideInRight {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slideOutRight {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.cursor-pointer{
    cursor:pointer;
}

.header-dropdown:hover {
    background-color: #6478ff;
}


.btn-grade {
    color: #fff;
    background-color: #5161ce;
    border-color: #6478ff;
    transition: background-color 0.3s ease;
    /*transition: border-color 0.3s ease;*/
}

    .btn-grade:hover {
        color: #fff;
        background-color: #6478ff;
        /*border-color: #6478ff;*/
    }

.grade-card-hover {
    border: 1px solid gray;
    transition: background-color 0.3s ease;
}

    .grade-card-hover :hover {
        background-color: #d6d3e9;
        border-color: #7a6ad8;
    }



/*loader*/

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.55);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: transparent;
}

    .preloader-inner .dot {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 12px;
        left: 15px;
        background: #7a6ad8;
        border-radius: 50%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation: dot 2.8s infinite;
        animation: dot 2.8s infinite;
    }

    .preloader-inner .dots {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        margin-top: 12px;
        margin-left: 31px;
        -webkit-animation: dots 2.8s infinite;
        animation: dots 2.8s infinite;
    }

        .preloader-inner .dots span {
            display: block;
            float: left;
            width: 16px;
            height: 16px;
            margin-left: 16px;
            background: #7a6ad8;
            border-radius: 50%;
        }

