
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
}

.card {
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

    .card:hover {
        cursor: pointer;
        background-color: rgba(122, 106, 216, 0.2);
        border: 1px solid #7a6ad8;
    }

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

    .icon img {
        width: 32px;
        height: 32px;
    }

.progress {
    height: 10px;
    border-radius: 10px
}

    .progress div {
        background-color: red
    }

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0;
    font-weight: 600;
    font-size: 14px;
}
