@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<!-- Create Class -->
<div class="modal fade" id="createClass" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form id="createClass" method="post" asp-page-handler="CreateClass">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Sınıf Oluştur</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-outline mb-4">
                        <input type="text" id="className" value="" asp-for="className" placeholder="Sınıf İsmi" required class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-primary">Sınıf Oluştur</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Join Class -->
<div class="modal fade" id="joinClass" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form id="joinClass" method="post" asp-page-handler="JoinClass">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Sınıfa Katıl</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-outline mb-4">
                        <input type="text" id="classCode" value="" asp-for="classCode" placeholder="Sınıf Kodu" required class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-primary">Sınıfa Katıl</button>
                </div>
            </form>
        </div>
    </div>
</div>
